%cc-list-item {
  padding: 4px 8px;
}

.cc-list {
  padding: 4px 0;

  border: 1px solid black;
  border-radius: 0 0 $border-radius-sm $border-radius-sm;

  background-color: #fff;

  overflow: auto;

  &__empty {
    @extend %cc-list-item;
    color: color(grey-400);

    cursor: default;
  }

  &__item {
    @extend %cc-list-item;
    cursor: pointer;
  }

  &--selected {
    color: #fff;

    background-color: color(blue-400);
  }

  &--highlighted {
    background-color: color(blue-200);

    &.cc-list--selected {
      background-color: color(blue-600);
    }
  }

  &--disabled {
    opacity: 0.4;

    pointer-events: none;
  }
}
