%cc-list-item {
  padding: 4px 8px;
}

.cc-list {
  $border-color: #000;

  border: 1px solid $border-color;

  background-color: #fff;

  &__empty {
    @extend %cc-list-item;
    color: color(grey-400);

    cursor: default;
  }

  &__item {
    @extend %cc-list-item;
    cursor: pointer;
  }

  &--highlighted {
    background-color: color(blue-200);

    &.cc-list--selected {
      background-color: color(blue-600);
    }
  }

  &--disabled {
    border-color: rgba($border-color, 0.4);

    pointer-events: none;
  }

  [aria-selected="true"] {
    color: #fff;

    background-color: color(blue-400);
  }

  [aria-disabled="true"] {
    opacity: 0.4;

    pointer-events: none;
  }
}
