.cc-select {
  display: flex;
  align-items: center;

  border: 1px solid black;
  border-radius: $border-radius-sm;

  &__container {
    display: flex;
    flex-flow: row wrap;

    width: 100%;
  }

  &__placeholder {
    color: color(grey-400);

    cursor: default;
  }

  &__input-container {
    width: 100%;
  }

  &__input {
    flex-basis: 100%;

    width: 100%;
    padding: 4px 0 4px 8px;

    border: 1px solid transparent;
    border-radius: $border-radius-sm;

    outline: none;
  }

  &__value {
    position: absolute;

    display: flex;
    flex-basis: 100%;
    align-items: center;

    min-height: 26px;
    padding: 4px 0 4px 10px;

    color: color(grey-900);

    &.cc-select--focused {
      color: color(grey-400);
    }
  }

  &__tags {
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    gap: 4px;
    align-items: center;

    width: 100%;
    min-height: 26px;
    padding: 4px 0 4px 10px;

    cursor: default;

    &:empty {
      display: none;
    }
  }

  &__toggle {
    display: grid;
    place-content: center;
    align-self: stretch;

    padding: 8px;

    border: 0;

    background-color: transparent;

    svg {
      transition: transform 0.2s ease;
    }
  }

  &__options {
    position: absolute;

    visibility: hidden;

    opacity: 0;

    &.open {
      visibility: visible;

      opacity: 1;
    }
  }

  &--open {
    &.cc-select--bottom {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.cc-select--top {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .cc-select__toggle svg {
      transform: rotate(180deg);
    }
  }
}
