@use "sass:math";

html {
  margin: 0;
  padding: 0;

  font-size: $font-size-base;
}

body {
  color: $text-color;
  font-weight: $font-weight-normal;
  font-size: $font-md;
  font-family: $body-font;
  line-height: 1.5;
}

strong {
  font-weight: $font-weight-strong;
}

small {
  font-size: $font-sm;
}
