$gutter: 32px;

%flex-layout {
  display: flex;
  flex-flow: row wrap;
  gap: $gutter;

  margin: 0;
}

%flex-item {
  flex: 1 0 0%;

  max-width: 100%;
  margin: 0;
  padding: 0;
}

%heading-1 {
  @include set-heading($h1-font);
}

%heading-2 {
  @include set-heading($h2-font);
}

%heading-3 {
  @include set-heading($h3-font);
}

%heading-4 {
  @include set-heading($h4-font);
}

%heading-5 {
  @include set-heading($h5-font);
}
